<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple ExpressJS App</title>
  </head>
  <body>
    <h1>Simple ExpressJS App with EJS View Engine</h1>
    <h2><a href="/users">Users Page</a></h2>
    <h2><a href="/products">Products Page</a></h2>
  </body>
</html>
