<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <h2>Product ID : <%= targetProduct[0].product_id %></h2>
    <ul>
      <li>Product Name : <%= targetProduct[0].product_name %></li>
      <li>Price : <%= targetProduct[0].price %></li>
      <li>Category : <%= targetProduct[0].category %></li>
    </ul>
    <a href="/products">Back to Products Page</a>
  </body>
</html>
